<div class="column prepend-1 span-22 append-1 centered">
	<div id="campus_placeholder">
		<%= render :partial => 'campus' %>
	</div>
	<h3><%= "Click on the markers to listen to the associated sounds"[:click_listen] %></h3>
	<%= draw_viewing_map %>
</div>
