<h2><%= "Derivative works"[:derivative_big] %></h2>

<p class="quote">
	<%= "Links to works using sounds gathered for Soa-te a ISTo."[:deriv_desc] %>
</p>


<ul>
	<li><a href="http://nityamusic.blogspot.com/">Nitya - Ricardo Pacheco</li>
</ul>