<div class="column span-24">
	&nbsp;
</div>
<div id="quote" class="column prepend-5 span-14 append-5 centered">
<p class="quote">
	<% if session[:language] == :pt %>
	 <strong>Mobilizar. Interagir. Criar.</strong>
	<% else %>
	<strong>Engage. Interact. Create.</strong>
	<% end %>
</p>
<p class="quote">
	<% if session[:language] == :pt then %>
	 Capitalizando na vulgariza&ccedil;&atilde;o dos dispositivos de grava&ccedil;&atilde;o digitais convida-se toda a popula&ccedil;&atilde;o do <strong>IST</strong> a contribuir para o seu retrato sonoro. O <strong>Soa-te a ISTo</strong> &eacute; uma forma de descobrir e dar a conhecer o <strong>IST</strong> e promover a liga&ccedil;&atilde;o dos seus dois p&oacute;los.
	<% else %>
	Making use of the widespread availability of digital recording apparatuses, an invitation to contribute to a sound portrait of <strong>IST</strong> is made to its community (students, professors and workers). <strong>Soa-te a ISTo</strong> is way of showing and discovering <strong>IST</strong> but also strengthening the links between its two geographically separated halves: Alameda and TagusPark.
	<% end %>
</p>

<p class="quote">
	<% if session[:language] == :pt %>
	O material submetido estar&aacute; dispon&iacute;vel para efeitos de audi&ccedil;&atilde;o ou manipula&ccedil;&atilde;o art&iacute;stica. Este projecto &eacute; tamb&eacute;m um desafio aos alunos do <a href="http://mcma.siu.edu">College of Mass Communication &amp; Media Arts Faculty, da Southern Illinois University</a>. A partir dos sons recolhidos, auxiliados apenas pelas refer&ecirc;ncias adicionais de tempo e espa&ccedil;o do site, construir&atilde;o programas de r&aacute;dio com a sua percep&ccedil;&atilde;o do <strong>IST</strong>. Este &eacute; um desafio de reconstru&ccedil;&atilde;o do espa&ccedil;o &agrave; dist&acirc;ncia, similar ao dos cart&oacute;grafos portugueses quando tiveram de realizar os seus mapas a partir das informa&ccedil;&otilde;es em segunda-m&atilde;o dos navegantes regressados das Descobertas.
	<% else %>
	The uploaded material will be available for listening or artistic manipulation. This project is also a challenge to the students of the <a href="http://mcma.siu.edu">
	College of Mass Communication &amp; Media Arts Faculty, from the Southern Illinois
	University</a>. From the sounds uploaded and working only from the time, geographic and tag references, they should create a radio show with their reconstruction of the <strong>IST</strong> campi. This is a challenge on &quot;translocal&quot; reconstruction, similar to the one faced by the portuguese cartographers during the Discoveries, who had to work with second hand information provided by the sailors returning from far away.
	<% end %>
</p>
<p class="quote">
	<% if session[:language] == :pt %>
		<strong>E ent&atilde;o? Soa-te a ISTo?</strong>
	<% else %>
		<strong>So, what you think? Does it sound like IST</strong>?
	<% end %>
</p>

</div>